<div class="main">
	<h2>About to try out docker</h2>
	<p>
		I attended a tech talk about cluster computing in Google Singapore a couple of days back. 
	</p>
	<p>
		I am not really in need of a cluster for any application in the fore-seeable future but I was really impressed by Docker as demonstrated in the talk (forgive me for being so ignorant of Docker). Now I am seriously considering using Docker for deploying future web apps (since deployment and migration has been such a <a href="migrating_mean_stack_web_app">pain</a> for me).
	</p>
</div>