<header>
  <a href="http://kaizhi.me" class="logo">Kaizhi Meng</a>
  <ul class="nav">
    <li><a href='/' class="<%= page === 'about' ? 'selected' : '' %>">About</a></li>
    <li><a href="/sevens-and-eights" class="<%= page==='sevensandeights' ? 'selected' : ''%>">七八</a></li>
    <li><a href='/thoughts' class="<%= page === 'thoughts' ? 'selected' : ''%>">Thoughts</a></li>
  </ul>
</header>
