<div class="main">
  <h2 class="title">
      Hello stranger! This is Kaizhi Meng.
  </h2>
  <p>
  	This is <b><i>by no means</i></b> a serious blog (not even remotely) but just a collection of random thoughts. 
  	<br/><br/>
  	Most likely I would just drop a sentence or two to remind the future ME about some simple <b><i>what</i></b>, <b><i>when</i></b> and <b><i>where</i></b>. But who knows when I would feel like writing the next <i>ASOIAF</i> over here. 
  </p>
</div>
