<div class="main">
  <p>
  	Hello stranger! This is Kaizhi Meng.
  </p>
  <p>
  	This is <b>by no means</b> a serious blog (not even remotely) but just a collection of random thoughts. 
  </p>
  <p>
  	Most likely I would just drop a sentence or two to remind the future ME about some simple <b>what</b>, <b>when</b> and <b>where</b>. But who knows when I would feel like writing the next <i>ASOIAF</i> over here. 
  </p>
</div>
