<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Kaizhi Meng</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- styles -->
    <link rel="stylesheet" type="text/css" href="/stylesheets/reset.css">
    <link href="/stylesheets/style.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Cardo' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <div class="container">
      <%- include header %>
      <%- body %>
    </div>
  </body>
</html>
