<div class="main">
	<h2>
		migrating Transify
	</h2>
	<p>
		this was kinda new to me as I was never familiar with deployment in the first place. 
	</p>
	<p>
		gotta understand the importance of keeping Package.json, going through the pain of installing Node on Ubuntu... and successfully did a data migration for MongoDB.
	</p>
	<p>
		discovered something about Mongorestore, which basically runs through a series of insert operations (need to verify). so my old user data was not restored (conflict with the newly created user i guess), causing some panic until i figured it out. 
	</p>
	<p>
		that was pretty fun over all but it would be nicer if the whole process is smoother (perhaps next time?)
	</p>
</div>