<div class="main">
	<h2>生日是不是要说些什么呢</h2>
	<p>
		心里总觉得应该在生日的时候说些什么，可能只是为了证明自己的思维随着年龄的增长变成熟了？这理由是有些牵强，不过足够说服我晚睡半个小时，记录下这个日子。
	</p>
	<p>
		下班的时候，爸妈发来微信，给我看他们“替我”吃的生日面，我突然不知道回复什么才好。小的时候感觉他们并没有把我的生日过得很隆重（能记住的一次是小学的时候在肯德基办了一次欢乐派对－－那时候觉得是非常风光的事情了，还有一次是初中给了我第一部手机作为礼物），现在距离远了却突然觉得这个日子的意义变得特殊起来。晚上和他们通电话的时候，我不好意思地承认我没吃上生日面，感觉老妈的语气一下子低落了许多。或许对于他们来说，生日面的意义在于，千里之隔的家人，会在同一时间吃上同样热腾腾的面条，这样的默契和同步率，就仿佛一家人围坐在一张餐桌边吃饭一样。让我惭愧的，不仅仅是我没有吃生日面，更是我到现在才领悟到吃生日面对他们不寻常的意义。
	</p>
	<p>
		杜和我开玩笑说，25岁，四舍五入就50岁了，再折算一下就是一百岁了。我仔细想了想，似乎所有二十大几的年龄，都和成熟，稳重，有担当分不开联系。而我却还没有想好接下来25岁的一年，还有之后接踵而至的26，28，30，对我意味着什么。
	</p>
</div>