<div class="main">
	<h2>My Broken 3D Printing Dream</h2>
	<p>
		Last year, I backed the project <a href="https://www.kickstarter.com/projects/1351910088/3doodler-20-the-worlds-first-3d-printing-pen-reinv" target="_blank">3Doodler 2.0</a> on kickstarter. Unlike <a href="https://www.kickstarter.com/projects/hello/sense-know-more-sleep-better" target="_blank">the other project</a>, it was fulfilled in time and I received the 3D doodling pen a couple of days back. 
	</p>
	<p>
		I truly wish that I had handled it more carefully because within the first hour of "doodling" (which was incredibly difficult and made me feel stupid), the pen literally broke. Melted plastic paint leaked from the nozzle and after I took the nozzle off, I realized the plastic nozzle holder was broken with half of it stuck inside the nozzle itself.
	</p>
	<img src="/img/broken_pen_full_picture.jpg">
	<br><br>
	<i>My 3Doodler 2.0 pen with its broken nozzle</i>
	<br><br>
	<img src="/img/broken_pen_close_up.jpg">
	<br><br>
	<i>A closer look at the pen</i>
	<br><br>
	<p>
		Sadly within the first hour of trying out, I wasn't able to produce any presentable 3D structure. Fortunately, I was informed by WobbleWorks (the company developing 3Doodler pens) to send in the broken pen for repair. It seems my plan of creating a 3D-doodled raspberry pi case would be delayed for quite some time :(.
	</p>
</div>