<div class="main">
	<h2>憋了好久 还是说点乱七八糟的好</h2>
	<p>
		主页开了一年多，东西没怎么写，租服务器和域名就倒腾掉了不少钱。一直到上个礼拜收到digitalocean的账单提示，才发觉已经快有一年没来维护一下了。之前也有不少点子想把小站搞成这样那样的，到头来不是给工作上的焦头烂额给排挤开，就是让平常生活的喜怒哀乐给冲淡了，勉强存活下来的为数不多的想法，最后也还是免不了被懒惰的自己给耽误没了。事到如今，也不得不随便拿些无聊的琐事出来滥竽充数一下。
	</p>

	<p>
		老实说，我最初的想法是想要搞些技术的东西上来显摆显摆的，这也无非是出于程序猿一点点小小的虚荣心。然而久而久之自己就发现，充其量只能算是“能熟练使用工具”的我，着实没什么东西能拿得出手。所谓的“谈技术“，也不过是用理所当然的推断粉饰一下自己浅薄的理解。回头看起来，也只能算是欺骗自己的小聪明玩意儿。
	</p>

	<p>
		于是问题便再一次回到了“该写些什么”上来了，只不过这一次，“发发牢骚记记琐事”似乎是比“聊聊自己似懂非懂的技术话题”更靠谱的答案。
	</p>
		
	<p>
		所以就以这一篇不知所云作为新版块的开始吧，谁知道几个月之后这里会记下什么东西呢。
	</p>
		
	<p>
		P.S. 开这个新版块的时候也不知道该叫什么。“杂记”，“随笔”这种太书卷气的词，配上一个穿背心抠着脚的码农就感觉变态了。“瞎BB”，“扯淡”这些又太接地气，怕一下子把以后所有的风格都给定死了。于是最后还是耍了一把小聪明，取了现在这个名字。
	</p>
</div>