<div class="main">
	<h2>Raspberry Pi, AirPlay and OCMS</h2>
	<p>
	I got my hands on a brand-new Raspberry Pi 2 almost immediately after it was launched on February. But I am a lazy guy and left it at a corner collecting dust for the past couple of months, until recently I made a minimalist LEGO case (which indicates its lack of ability to provide any sort of real protection) for it. 
	</p>
	<br>
	<br>
	<p>
	Then I was faced with another challenge - I had no idea about what to do with my Pi. Yes, Pi 2 is a beast when it comes to computational power but I simply could not think of a valid use case for it.
	</p>
	<br>
	<br>
	<p>
	Once I had this idea of pairing it up with a spare portable hard drive and making a cheap Time Capsule out of it. But first of all, I no longer had any spare hard drives and secondly, I just did not have that much data needing back-up.
	</p>
	<br>
	<br>
	<p>
	Not too long ago, I had thought of monitoring my (or rather my girlfriend's) two hamsters' life style. 
	</p>
	<p>
	
	</p>
</div>