<div class="main">
	<h2>有太多的东西看不完</h2>
	<p>今天看了半小时Elon Musk在Code Conference 2016上接受的采访，真心觉得听聪明的人讲话也是一种享受。这两天争取抽时间看完。Code Conference上面有不少精彩的采访，感觉可以好好看看，琢磨琢磨。</p>
	<p>Medium上面还有几篇推送的博文，感觉也非常有意思。突然觉得在信息爆棚的年代，确实是看什么都方便，可是意识到自己有太多想看的东西但是都没时间看完的感觉也很糟糕。</p>
	<p>刚刚逛了下goodread和open trolley，看到了几本想要读的书，然后又想到自己还有好几本买了没读的书，于是又默默地清空了购物车。感觉糟透了！</p>
</div>