<div class="main">
  <ul class="thought-list">
  	<% for (var i = 0; i < posts.length; i++) {%>
  		<li>
  			<a href='thoughts/<%= posts[i].slug%>' class="thought-title" style="display: flex; flex-direction: row">
          <p style="flex-grow: 1"><%= posts[i].name %></p>
          <p style="display: inline-block"><%=: posts[i].date | fromNow %></p>
        </a>
  		</li>
  	<% } %>
  </ul>
</div>
