body {
  padding: 50px;
  font: 14px "Cardo", Helvetica, Arial, sans-serif;
  color: #4D4F53;
}

a {
  color: #00B7FF;
}

header {
  display: flex;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -moz-box;
  flex-direction: row;
  -webkit-flex-direction: row;

  justify-content: space-between;
  -webkit-justify-content: space-between;

  align-items: baseline;
  -webkit-align-items: baseline;

  border-bottom: 1px solid #ddd;
}

footer {
  border-top: 1px solid #ddd;
}

p {
  font-size: 18px;
  color: #6a6b70;
}
.container {
  width: 640px;
  margin: auto;
}

.title {
  font-weight: initial;
}

.logo {
  font-size: 24px;
  font-weight: 400;
  text-decoration: none;
  color: #4D4F53;
}

.nav {
  justify-content: flex-end;
  -webkit-justify-content: flex-end;
  list-style: none;
  display: flex;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -moz-box;
}

.nav li a{
  padding-left: 1em;
  color: #ADAFB3;
  text-decoration: none;
}

.nav li a.selected {
  color: #4D4F53;
}

.main {
  margin-top: 60px;
}

ul {
  list-style-type: none;
}

.thought-title {
  text-decoration: none;
}